<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/static/barra.css">
    <link rel="stylesheet" href="/static/estilo.css">
    <link rel="stylesheet" href="/static/main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Bread</title>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <img src="/static/LOGO.png" alt="" class="logo">
        <ul>
            <li><a href="signin">Registrar</a></li>
            <li><a href="login">Inicar sesión</a></li>
        </ul>
    </nav>
<section>
    <header>
        
    </header>
<section>
    <h1>Acerca de nosotros</h1>
    <p><strong>Misión:</strong> La misión de la panadería "Sueños al Horno" es deleitar a nuestros clientes con productos de panadería frescos, deliciosos y de alta calidad. Nos esforzamos por ofrecer una experiencia única y memorable, despertando emociones y satisfaciendo los paladares de quienes nos eligen. Nuestro objetivo es convertirnos en el lugar favorito de los amantes del pan, brindando un servicio excepcional y productos que reflejen nuestra pasión por la panadería artesanal.</p>

    <p><strong>Valores:</strong></p>
    <ol>
      <li><b>Calidad:</b> Nos comprometemos a utilizar los mejores ingredientes y técnicas tradicionales de panadería para garantizar la calidad y frescura de nuestros productos. Nos esforzamos por ofrecer un pan y productos horneados que superen las expectativas de nuestros clientes en sabor y textura.</li>
      <li><b>Pasión:</b> Amamos lo que hacemos y eso se refleja en cada producto que sale de nuestro horno. Nuestro equipo está compuesto por apasionados panaderos y reposteros que se dedican a perfeccionar sus habilidades y a crear delicias irresistibles para nuestros clientes.</li>
      <li><b>Creatividad:</b> Nos encanta innovar y sorprender a nuestros clientes con nuevos sabores y combinaciones. Estamos constantemente buscando nuevas recetas y técnicas de panadería para mantenernos a la vanguardia de las tendencias y ofrecer opciones únicas y emocionantes.</li>
      <li><b>Atención al cliente:</b> Valoramos a nuestros clientes y nos esforzamos por brindarles un servicio amable, personalizado y atento. Queremos que cada visita a "Sueños al Horno" sea una experiencia positiva y que nuestros clientes se sientan valorados y bienvenidos.</li>
      <li><b>Responsabilidad:</b> Nos comprometemos a operar de manera sostenible y respetuosa con el medio ambiente. Buscamos minimizar nuestro impacto ecológico y fomentar prácticas responsables en toda nuestra cadena de suministro.</li>
    </ol>    
</section>
</body>
</html>