<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/static/barra.css">
    <link rel="stylesheet" href="/static/estilo.css">
    <link rel="stylesheet" href="/static/main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Bread</title>
</head>
<body onload="checkToken()">
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a href="mainAdmin" class="enlace">
            <img src="/static/LOGO.png" alt="" class="logo">
        </a>
        <ul>
            <li><a href="bread">Tienda</a></li>
            <li><a href="listapanes">Listas</a></li>
            <li><a href="login">Cerrar sesión</a></li>
        </ul>
    </nav>
<section>
    <header>
        
    </header>
<section>
    <h1>Historia de "Sueños al Horno"</h1>
    <p>En el año 1980, en un pequeño pueblo de Canadá, nació una panadería con un nombre lleno de esperanza: "Sueños al Horno". Sus fundadores, Eduardo Pérez, también conocido como Polar, y David Castillo, tenían un sueño común: crear un lugar donde pudieran hornear pan fresco y delicioso para su comunidad.</p>
    
    <p>Eduardo y David se conocieron en la universidad mientras estudiaban panadería y pastelería. Compartían una pasión por el arte de hacer pan y decidieron unir fuerzas para hacer realidad su visión. Con mucho esfuerzo y dedicación, juntaron sus ahorros y abrieron la panadería en un pequeño local.</p>
    
    <p>Desde el primer día, Sueños al Horno se destacó por la calidad excepcional de sus productos. Eduardo y David trabajaban incansablemente, amasando la masa, horneando panes artesanales y creando pasteles tentadores. Su amor por su oficio se reflejaba en cada producto que salía de su horno.</p>
    
    <p>A medida que la reputación de la panadería crecía, Eduardo y David decidieron expandirse y abrir nuevas sucursales en diferentes ciudades de Canadá. Cada nueva tienda llevaba consigo el mismo espíritu y la misma dedicación por ofrecer pan y productos horneados de la más alta calidad.</p>
    
    <p>Sin embargo, en 2001, la vida dio un giro inesperado. Eduardo y David, siendo ciudadanos canadienses, se vieron obligados a unirse a las fuerzas armadas y fueron enviados a servir en una misión militar en el extranjero. La guerra se convirtió en una realidad que nunca habían anticipado.</p>
    
    <p>A pesar de la adversidad, Eduardo y David se mantuvieron unidos y encontraron la forma de llevar su pasión por la panadería incluso en medio del conflicto. Durante su tiempo en el servicio, compartieron su conocimiento y habilidades culinarias con sus compañeros soldados, horneando panes y pasteles para levantar los ánimos y proporcionar un sentido de normalidad en un entorno caótico.</p>
    
    <p>Después de varios años en el ejército, Eduardo y David regresaron a Canadá, pero sintieron que sus vidas habían cambiado profundamente. A pesar de las experiencias difíciles vividas en la guerra, su pasión por la panadería seguía intacta y sabían que debían continuar con su negocio.</p>
    
    <p>Decidieron expandir sus horizontes y llevar el sabor único de Sueños al Horno a otros países. Después de investigar y explorar diferentes lugares, eligieron establecer una sucursal en Nuevo Laredo, una ciudad en la frontera entre México y Estados Unidos.</p>
    
    <p>Con la apertura de su nueva tienda en Nuevo Laredo, Eduardo y David combinaron la tradición de la panadería canadiense con los sabores y técnicas de la panadería mexicana. Introdujeron productos innovadores que mezclaban lo mejor de ambos mundos y rápidamente se ganaron el corazón de la comunidad local.</p>

    <p>Sueños al Horno en Nuevo Laredo se convirtió en un lugar de encuentro para las personas, un refugio donde podían disfrutar de pan fresco y pasteles exquisitos. Eduardo y David, junto con su equipo de panaderos y pasteleros, siguieron trabajando arduamente para mantener los altos estándares de calidad que habían establecido en todas sus sucursales. La comunidad de Nuevo Laredo apreciaba el cuidado y la pasión que Eduardo y David ponían en cada uno de sus productos.</p>
  
    <p>A medida que el tiempo pasaba, Sueños al Horno se convirtió en un nombre reconocido y respetado en la industria de la panadería. Sus productos se vendían no solo en las sucursales, sino también en restaurantes y tiendas locales. La demanda creció y Eduardo y David se vieron obligados a expandirse aún más, abriendo nuevas tiendas en diferentes ciudades de México y Estados Unidos.</p>
  
    <p>A pesar del éxito y la expansión, Eduardo y David nunca olvidaron sus raíces y su conexión con la comunidad. Se involucraron activamente en programas sociales y donaciones de alimentos para ayudar a los menos afortunados. Sueños al Horno se convirtió en una empresa comprometida con el bienestar de las personas y el entorno en el que operaban.</p>
  
    <p>Con el tiempo, Eduardo y David decidieron pasar el negocio a la siguiente generación. Capacitaron a sus hijos y a otros miembros del equipo para que pudieran continuar con la visión y los valores de Sueños al Horno. A pesar de su retiro, Eduardo y David siguieron siendo asesores y embajadores de la empresa, compartiendo su experiencia y sabiduría con aquellos que continuaban su legado.</p>
  
    <p>Hoy en día, Sueños al Horno es una próspera cadena de panaderías y pastelerías con una presencia destacada en Canadá, México y Estados Unidos. Su éxito se basa en la dedicación a la calidad, el compromiso con la comunidad y el amor por el arte de la panadería.</p>
  
    <p>La historia de Sueños al Horno es un recordatorio de que los sueños y la pasión pueden superar cualquier obstáculo. Eduardo y David, a pesar de las adversidades en la guerra, encontraron la fuerza para seguir adelante y convertir su sueño en una realidad. Su historia inspira a otros a perseguir sus propios sueños, sin importar los desafíos que puedan enfrentar en el camino.</p>
</section>
</body>
<script>
    function checkToken(){
        const token  = localStorage.getItem('token')
        if(token){
            fetch(`/login?token=${token}`)
            .then(response => response.json())
            .then(data =>{
                console.log(data)
                if(data.message!="valid token"){
                    localStorage.removeItem('token')
                    window.location.href='/login'
                }
            }).catch(error =>{
                window.location.href='/login'
                console.log(error)
            })
        }else{
            window.location.href='/login'
        }
    }
</script>
</html>