<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/barra.css">
    <link rel="stylesheet" href="/static/estilo.css">
    <link rel="stylesheet" href="/static/main.css">
    <title>Administrador</title>
</head>
<body onload="checkToken()">
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a href="mainAdmin" class="enlace">
            <img src="/static/LOGO.png" alt="" class="logo">
        </a>
        <ul>
            <li><a href="listapanes">Inventario</a></li>
            <li><a href="pdf">Reportes</a></li>
            <li><a href="login">Cerrar sesión</a></li>
        </ul>
    </nav>
<section>
    <header>
        
    </header>
</section>
<section>
    <h1>¡Bienvenidos, administradores!</h1>
    <p>En nombre de todos nosotros, quiero expresar mi más sincero reconocimiento y gratitud por asumir el importante rol de administradores. Su labor es fundamental para mantener el funcionamiento y la organización en diversos ámbitos, ya sea en una comunidad, una empresa o cualquier otra institución.</p>
    <p>Como administradores, tienen el poder y la responsabilidad de tomar decisiones, liderar equipos y garantizar un entorno seguro y productivo. Su experiencia, habilidades y dedicación son vitales para el éxito de cualquier proyecto o comunidad.</p>
    <p>Recuerden que su trabajo implica desafíos y decisiones difíciles, pero también ofrece grandes oportunidades para marcar la diferencia. Su capacidad para gestionar y resolver problemas, fomentar la colaboración y promover un ambiente inclusivo serán clave para alcanzar el éxito colectivo.</p>
    <p>Además, queremos que sepan que no están solos en esta tarea. Aquí, en esta comunidad, estamos dispuestos a apoyarlos y brindarles el respaldo que necesiten. No duden en pedir ayuda, compartir sus ideas o plantear sus preocupaciones. Juntos, podemos construir un entorno sólido y enriquecedor para todos.</p>
    <p>Una vez más, les doy la bienvenida como administradores. Su labor es esencial y valorada. ¡Estamos entusiasmados de trabajar con ustedes y de ver cómo dejan su huella positiva en esta comunidad!</p>
    <p>¡Adelante y mucho éxito en su nuevo rol!</p>
</section>
</body>
<script>
    function checkToken(){
        const token  = localStorage.getItem('token')
        if(token){
            fetch(`/login?token=${token}`)
            .then(response => response.json())
            .then(data =>{
                console.log(data)
                if(data.message!="valid token"){
                    localStorage.removeItem('token')
                    window.location.href='/login'
                }
            }).catch(error =>{
                window.location.href='/login'
                console.log(error)
            })
        }else{
            window.location.href='/login'
        }
    }
</script>
</html>