<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listado de Dueños</h1>
    <a href="nuevoDueño">Agregar</a>
    <table border = "1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Número de teléfono</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {%for dueño in dueños %}
                <tr>
                    <td>{{dueño.id}}</td>
                    <td>{{dueño.nombre}}{{dueño.apellido}}</td>
                    <td>{{dueño.numtelefono}}</td>
                    <td><a href="detalleDueño/{{dueño.id}}">Detalle</a></td>
                    <td><a href="editarDueño/{{dueño.id}}">Editar</a></td>
                    <td><a href="eliminarDueño/{{dueño.id}}">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>