<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/inicio.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listado de peliculas</h1>
    <div>
        <a href="{{url_for('appelicula.agregar')}}">Agregar Pelicula</a>
    </div>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Duracion</th>
                    <th>Categoria</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {%for pelicula in peliculas%}
                <tr>
                    <td>{{pelicula.id}}</td>
                    <td>{{pelicula.nombre}}</td>
                    <td>{{pelicula.duracion}}</td>
                    <td>{{pelicula.categoria}}</td>
                    <td><a href="detallePelicula/{{pelicula.id}}">Detalle</a></td>
                    <td><a href="editarPelicula/{{pelicula.id}}">Editar</a></td>
                    <td><a href="eliminarPelicula/{{pelicula.id}}">Eliminar</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</body>
</html>